PROJECT_NAME=aviation-weather-disruption

JUPYTER_TOKEN=change-me

MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me
MINIO_ENDPOINT_INTERNAL=http://minio:9000
MINIO_ENDPOINT_EXTERNAL=http://localhost:9000

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_REGION=us-east-1

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_WEATHER_RAW=weather.raw

RAW_BUCKET=raw
LAKEHOUSE_BUCKET=lakehouse
WAREHOUSE_BUCKET=warehouse